
<div class="container mt-5">
    <mat-card class="example-card" >
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        <h2 class="container text-center">Login</h2>
        </mat-card-header>
        <img mat-card-image src="https://images.unsplash.com/photo-1523634921619-37ce98c1877f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bm90ZXMlMjB0b2RvfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60" alt="">
        <mat-card-content>
        <div class="container mt-3">
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <mat-form-field appearance="outline"  class="w-70">
              <mat-label>Email ID</mat-label>
              <input ngModel name="emailId" id="emailId" matInput placeholder="Email">
            </mat-form-field>
  <br>
            <mat-form-field appearance="outline">
              <mat-label>Enter Your Password</mat-label>
              <input ngModel name="password" id="password" matInput placeholder="password" type="password">
            </mat-form-field>
            <br>
            <div class="text-center">
              <button type="submit" mat-raised-button color="accent">login
              </button>
            </div>
              <br>
              <a routerLink="/signup">new to todo? signup now</a>
          
            
          </form>
        </div>
        </mat-card-content>
      </mat-card>
</div>





  
